body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1055px;
  margin: 0 auto; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.main-color {
  color: #24baa0; }

.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-title {
  position: relative;
  font-size: 22px;
  color: #575757;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 13px;
  margin-bottom: 45px; }
  .section-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #24baa0;
    height: 8px;
    width: 320px; }

.section-title-sm {
  opacity: 1;
  transition: 0.4s opacity;
  font-size: 15px;
  display: block;
  width: 150px;
  font-weight: 600;
  position: relative; }
  .section-title-sm::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #24baa0;
    height: 8px;
    width: 150px; }

.section-title-pm {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  z-index: 2;
  top: 151px;
  padding-left: 10px;
  padding-top: 10px;
  width: 330px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.473); }
  .section-title-pm::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #24baa0;
    height: 8px;
    width: 130px; }

.btn {
  padding: 5px 35px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  background: #24baa0;
  font-weight: 200; }
  .btn__div {
    display: flex;
    align-items: center;
    justify-content: center; }
  .btn__send {
    background-color: #24baa0;
    padding: 20px 100px;
    color: #fff;
    font-size: 40px;
    font-weight: 600; }

/* PAGE HEADER */
.visible {
  display: block;
  opacity: 1 !important;
  visibility: visible !important; }

.page-header {
  background-color: #000000;
  height: 40px; }
  .page-header .container {
    display: flex;
    justify-content: space-between; }

.page-logo {
  display: flex;
  align-items: center;
  margin: 0; }
  .page-logo__link {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; }
    .page-logo__link span {
      color: #17907c; }

.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-nav__list li {
    display: inline-block;
    text-decoration: none;
    position: relative; }
  .page-nav__list a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
    line-height: 40px;
    display: block; }

.page-nav__sublist {
  z-index: 900;
  display: none;
  transition: 0.4s opacity;
  visibility: none;
  opacity: 0;
  padding: 10px 0;
  margin: 0;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translate(-50%, 0); }
  .page-nav__sublist::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -20px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black; }
  .page-nav__sublist::after {
    content: "";
    background: transparent;
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
    width: 100%;
    height: 15px; }
  .page-nav__sublist li {
    display: block; }
  .page-nav__sublist a {
    text-transform: none;
    line-height: 2em;
    font-weight: normal;
    padding: 0 20px; }
  .page-nav__sublist a:hover {
    color: #17907c; }

.show:hover > ul,
.show ul:hover {
  display: block;
  visibility: visible;
  opacity: 1; }

.main-slider-bg {
  background-image: linear-gradient(#fafafa, #ddd); }

.baner {
  height: 500px;
  display: flex;
  position: relative; }
  .baner__photo {
    width: 1200px; }

.baner__slide {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all; }
  .baner__slide__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .baner__slide__photo {
    width: 1200px; }
  .baner__slide__title {
    font-size: 40px;
    text-align: center;
    margin: 0; }
  .baner__slide__info {
    text-align: center; }

.form {
  display: flex;
  justify-content: space-between; }
  .form__left {
    width: 635px; }
  .form__right {
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .form__row {
    margin-bottom: 26px; }
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    height: 65px;
    width: 100%;
    border: 1px solid #24baa0;
    font-size: 33px;
    font-weight: 300;
    padding: 0 15px; }
  .form textarea {
    height: 190px;
    padding: 15px;
    min-height: 100px;
    resize: vertical; }
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #24baa0; }
  .form input[type="text"]::placeholder,
  .form input[type="email"]::placeholder,
  .form textarea::placeholder {
    color: #ddd; }
  .form__checkbox {
    display: block;
    position: relative;
    font-size: 20px;
    color: #aaa;
    display: flex; }
    .form__checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      opacity: 0;
      height: 48px; }
    .form__checkbox span {
      flex-shrink: 0;
      margin-right: 10px;
      width: 48px;
      height: 48px;
      border: 1px solid #24baa0;
      display: flex;
      justify-content: center;
      align-items: center; }
    .form__checkbox span:before {
      content: "";
      background-image: url(../images/form_ok.jpg);
      background-position: center;
      background-repeat: no-repeat;
      width: 48px;
      height: 48px;
      display: block;
      opacity: 0;
      transform: scale(0.8);
      transition: 0.5s all; }
    .form__checkbox input:checked + span::before {
      opacity: 1;
      transform: scale(1); }
  .form__img {
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    margin-right: 33px; }

.cennik {
  margin-top: 138px; }

.con-bor {
  margin-top: 30px;
  border: 2px solid #cecdcd;
  width: 33.3333%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .con-bor::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #cecdcd;
    background-color: #fff;
    overflow: hidden;
    z-index: 30;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%); }
  .con-bor::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #cecdcd;
    z-index: 50;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%); }
  .con-bor:not(:last-child) {
    margin-right: 29px; }
  .con-bor h3 {
    font-weight: 400;
    font-size: 22px;
    color: #24baa0; }

.price {
  border: 2px solid #cecdcd;
  border-radius: 50%;
  flex-direction: column;
  padding: 24px;
  width: 140px;
  height: 140px;
  color: #cecdcd; }
  .price__div {
    display: flex;
    align-items: center;
    justify-content: center; }
    .price__div__money {
      font-weight: 700;
      font-size: 37px;
      margin-left: 10px;
      margin-bottom: -2px; }
      .price__div__money--sm {
        font-weight: 400;
        font-size: 15px; }
  .price p {
    text-align: center; }

.list {
  padding: 0; }
  .list__items:nth-child(odd) {
    background-color: #cecdcd; }
  .list__items {
    text-align: center;
    font-size: 25px;
    list-style: none;
    font-weight: 300;
    color: #858383;
    padding: 8px 0; }

.flickr {
  background-image: url(../images/flickr.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover; }

.vimeo {
  background-image: url(../images/vimeo.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover; }

.pinterest {
  background-image: url(../images/pinterest.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover; }

.twitter {
  background-image: url(../images/twitter.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.ri {
  color: #999;
  display: flex; }

.ri span {
  font-weight: 700;
  color: #333; }

.row {
  margin-top: 27px;
  display: flex; }
  .row .col-1-3:not(:last-child) {
    margin-right: 30px; }
  .row .col-1-3:nth-child(-n + 2) {
    position: relative; }
  .row .col-1-3:last-child {
    border: 1px solid #cecdcd;
    padding: 11px 10px 43px 20px;
    width: 2000px; }

.photo {
  width: 1900px;
  border: 1px solid #cecdcd; }

.col-1-3:hover .section-title-pm {
  opacity: 0;
  transition: 0.5s all;
  transform: scale(1.1); }

.photo-p {
  font-size: 14px;
  font-weight: 300; }

.application {
  padding: 30px 0; }

.application h3 {
  color: #575757;
  font-size: 18px;
  transition: 0.5s all; }

.application header.align_right {
  text-align: right; }

.inline {
  display: inline-block;
  width: 300px;
  padding: 14px;
  vertical-align: top; }

.form-app {
  margin-top: 50px; }

.drop_down_list {
  border: 1px solid #8de0d2;
  width: 280px;
  height: 38px;
  background-color: #fff;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative; }

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: "ralewaylight", Arial, Tahoma, sans-serif; }

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
  transition: 0.5s all;
  margin-top: 80px;
  margin-left: 5px; }
  .checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer; }
  .checkbox label {
    transition: 0.5s all;
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
    display: none; }
  .checkbox label::before,
  .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0; }
  .checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none; }
  .checkbox input:checked + label::after {
    display: block; }

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae; }

.image_part img {
  margin-top: 110px;
  margin-left: 38px; }

.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0; }

.summary_panel {
  background-color: #fff;
  width: 100%;
  height: 195px;
  padding: 10px;
  margin-top: 50px; }

.application .green_button {
  background-color: #24baa0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: "ralewaymedium", Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none; }

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #cecdcd;
  height: 135px; }

.panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #cecdcd;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #cecdcd;
  height: 135px; }

.panel_left h4,
.panel_right h4 {
  color: #24baa0;
  font-size: 23px; }

.panel_left span {
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block; }

.panel_right span {
  display: block;
  font-size: 19px;
  color: #24baa0;
  margin-top: 10px; }

.sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a; }

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0; }

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer; }

.list_panel {
  background-color: #fff;
  border: 1px solid #cecdcd;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none; }

.list_panel li {
  margin-top: 10px;
  cursor: pointer;
  color: #cecdcd; }

.title {
  margin: 0; }

.color-value,
.transport-value {
  height: 52px;
  transition: 0.5s all; }
