.main-slider-bg {
    background-image: linear-gradient(#fafafa, #ddd);
}
.banner {
    height: 500px;
    display: flex;
}
.baner-prev,
.baner-next {
    width: 100px;
    border: 0;
    background: none;
    font-size: 70px;
    color: $color-main;
    cursor: pointer;
    transition: 0.5s all;
}
.baner-prev:focus,
.baner-next:focus {
    outline: none;
}

.baner-prev:hover,
.baner-next:hover {
    color: $color-main-hover;
}

.baner-prev:active,
.baner-next:active {
    transform: scale(1.2);
}
.baner-next {
    order: 1;
}
.baner-slides {
    flex-grow: 1;
    position: relative;
}
.baner-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s all;
}
.baner-slide-active {
    opacity: 1;
    z-index: 1;
}

.banner-slide-title {
    position: relative;
    top: -30px;
    opacity: 0;
    transition: 0.5s all;
}
.banner-slide-active .banner-slide-title {
    top: 0;
    opacity: 1;
}
