/* PAGE HEADER */
.visible {
    display: block;
    opacity: 1 !important;
    visibility: visible !important;
}

.page-header {
    background-color: #000000;
    height: 40px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .page-logo {
        display: flex;
        align-items: center;
        margin: 0;
        &__link {
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            span {
                color: $color-main-hover;
            }
        }
    }
    .page-nav {
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                text-decoration: none;
                position: relative;
            }
            a {
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                padding: 0 10px;
                line-height: 40px;
                display: block;
            }
            li:hover .page-nav__sublist {
                display: block;
            }
        }
        &__sublist {
            transition: 0.4s opacity;
            display: none;
            padding: 10px 0;
            margin: 0;
            background-color: black;
            position: absolute;
            left: 50%;
            top: 55px;
            transform: translate(-50%, 0);
            &:hover {
                display: block;
            }
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                top: -20px;
                display: block;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-bottom-color: black;
            }
            &::after {
                content: "";
                background: transparent;
                position: absolute;
                left: 0;
                top: -15px;
                width: 100%;
                height: 15px;
            }

            li {
                display: block;
            }
            a {
                text-transform: none;
                line-height: 2em;
                font-weight: normal;
                padding: 0 20px;
            }
            a:hover {
                color: $color-main-hover;
            }
        }
    }
}
