.row {
    margin-top: 27px;
    display: flex;
    .col-1-3:not(:last-child) {
        margin-right: 30px;
    }
    .col-1-3:nth-child(-n + 2) {
        position: relative;
    }
    .col-1-3:last-child {
        border: 1px solid $color-grey-light;
        padding: 11px 10px 43px 20px;
        width: 2000px;
    }
}

.photo {
    width: 1900px;
    border: 1px solid $color-grey-light;
}
.col-1-3:hover .section-title-pm {
    opacity: 0;
    transition: 0.5s all;
    transform: scale(1.1);
}

.photo-p {
    font-size: 14px;
    font-weight: 300;
}
