.section-title-pm {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    z-index: 2;
    top: 151px;
    padding-left: 10px;
    padding-top: 10px;
    width: 330px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.473);
}
.section-title-pm::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: $color-main;
    height: 8px;
    width: 130px;
}
.cennik {
    margin-top: 138px;
}

.con-bor {
    margin-top: 30px;
    border: 2px solid rgb(206, 205, 205);
    width: 33.3333%;
    position: relative;
    z-index: 1;
}
.con-bor::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(206, 205, 205);
    background-color: #fff;
    overflow: hidden;
    z-index: 30;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con-bor::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;

    background-color: rgb(206, 205, 205);
    z-index: 50;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row .con-bor:not(:last-child) {
    margin-right: 29px;
}
.con-bor h3 {
    font-weight: 400;
    font-size: 22px;
    color: $color-main;
}
.cennik-circle {
    border: 2px solid rgb(206, 205, 205);
    border-radius: 50%;
    flex-direction: column;
    padding: 24px;
    width: 140px;
    height: 140px;
    color: rgb(206, 205, 205);
}
.div-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-circle .kasa {
    font-weight: 700;
    font-size: 43px;
    margin-left: 10px;
    margin-bottom: -2px;
}
.div-circle .small-kasa {
    font-weight: 400;
    margin-bottom: -40px;
    margin-top: -60px;
    font-size: 17px;
}
.cennik-circle p {
    margin-top: 10px;
}
.lista1 {
    padding: 0;
    margin-bottom: 155px;
    margin-top: 40px;
}
.lista2 {
    padding: 0;
    margin-bottom: 110px;
    margin-top: 40px;
}
.lista3 {
    padding: 0;
    margin-bottom: 67px;
    margin-top: 40px;
}
.list-items:nth-child(odd) {
    background-color: rgb(206, 205, 205);
}
.list-items {
    text-align: center;
    font-size: 25px;
    list-style: none;
    font-weight: 300;
    color: rgb(133, 131, 131);
    padding: 8px 0;
}
.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    padding: 5px 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 200;
}
