.cennik {
    margin-top: 138px;
}

.con-bor {
    margin-top: 30px;
    border: 2px solid $color-grey-light;
    width: 33.3333%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border: 2px solid $color-grey-light;
        background-color: $color-white;
        overflow: hidden;
        z-index: 30;
        border-radius: 50%;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;

        background-color: $color-grey-light;
        z-index: 50;
        border-radius: 50%;
        top: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:not(:last-child) {
        margin-right: 29px;
    }
    h3 {
        font-weight: 400;
        font-size: 22px;
        color: $color-main;
    }
}

.price {
    border: 2px solid $color-grey-light;
    border-radius: 50%;
    flex-direction: column;
    padding: 24px;
    width: 140px;
    height: 140px;
    color: $color-grey-light;
    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        &__money {
            font-weight: 700;
            font-size: 37px;
            margin-left: 10px;
            margin-bottom: -2px;
            &--sm {
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
    p {
        text-align: center;
    }
}

.list {
    padding: 0;
    &__items:nth-child(odd) {
        background-color: $color-grey-light;
    }
    &__items {
        text-align: center;
        font-size: 25px;
        list-style: none;
        font-weight: 300;
        color: rgb(133, 131, 131);
        padding: 8px 0;
    }
}
