* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1055px;
    margin: 0 auto;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.main-color {
    color: $color-main;
}
